body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
}

#video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

video {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
